@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Assignment #1 created and developed with ASP.Net Core.</p>
    <p>Developed by: Jaimaica Daisy Eugenio</p>
</div>
